server:
  port: 8086

spring:
  application:
    name: branchowner-service
  
  datasource:
    url: jdbc:mysql://localhost:3306/branch_db
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

# Eureka Client
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

# Logging
logging:
  level:
    com.smartfitness.branchowner: DEBUG
    org.springframework.amqp: INFO

